<section class="item animated bounceInDown">
	<div>
		<img src="/{{str photo}}" width="100%" height="100%"><br>
		<p class="item_description2" id="itemName"><font size="5px">{{iName}}</p>
		<p class="item_description2">P {{price}}</font></p>
	</div>
</section>
<section class="description">
	<div class="rightbox">
		<br><b><p class= "title"><font size = "15" color= "white">ITEM DESCRIPTION</font></p></b>
		<p id="sell"> Posted by <a href="/user/{{seller}}">{{seller}}</a></p>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span></p><br>
		<section class="item_section">
			<font color="white">
			<button id="btncontact" class = "btncontact" onclick="display()">
			    Get Information
			</button>
			<div id="contact" style="display: none">
			    <p><b> Quantity:</b>{{quantity}}</p>
				<p><b> Meet up location:</b>{{meet_location}}</p>
				<p><b> Contact information:</b>{{contact}}</p>
				<p><b> Mode of payment:</b>{{MOD}}</p><br>
			</div>
			<p>{{bio}}</p>
			</font>
		</section><br><br><br>
		<div class="box1">
			<b><p class= "title"><font size = "15" color= "white">REVIEWS</font></p></b>
			<br>
			<form id="reviewItem">
				<textarea type="text" id="reviewboxItem" class="review_textbox box field" placeholder="Tell us something about this item..." rows="3" cols="30" maxlength="161" required></textarea><br>
				<button id="submit_buttonItem" class="enter_reviewItem enter_review">Submit</button>
			</form>
		</div>
		<ol class="reviewlist">

			{{#each reviews}}
	  			<div class='box2 animated jackInTheBox'>
	  				<div class='review_header'>
	  					<image src="/{{dpreviewer}}"> 
	  					<a href="/user/{{reviewer}}"><div class='review_name'>{{reviewer}}</div></a>
	  				</div>
	  				<div id="reviewdiv">{{review}}</div>
	  				<div class='edit_delete_reply'>
	  					<button id='submit_button' class='delete'>Delete</button>
	  				</div>
	  			</div>
	        {{/each}}
	        
		</ol>
		<br><br><br><br>
	</div>
</section>
<script src="/js/complete.js"></script>
<script src="/js/Navigation_bar.js"></script>
<script src="/js/Reviews.js"></script>
<script type="text/javascript">
	function display() {
		var T = document.getElementById("contact");

		var F = {{flag}};

		console.log("flag is " + F);

		if (F)
		{
			if(T.style.display === "none"){
			T.style.display = "block";  // <-- Set it to block
			} 
			else {
				T.style.display = "none";
			}
		}
		else
			alert('Log in to be able to get more details about the product.');
	};

	$('.box1').on('click', '#submit_buttonItem', function() {

		if ({{flag}}) {
			var review = $('#reviewboxItem').val();
			console.log(review);

			var iName = $(this).parent('form').parent('div').parent('div').parent('section').siblings('.item').children('div').children('#itemName').text();
			console.log(iName);

			if (review != '') {
				$.post('/review', 
				{
					iName: iName,
					review: review
				});
			}
			else
				alert("Can't submit an empty text");
		}
		else
			alert('Log in to be able to submit a review about this item.');
	});



</script>
