<section class="profile">
	<br><br><br><br><br><br>
	<img src="/{{photo}}" alt="Profile image"><br><br>
	<p id="fullname"><font size = "5px"> {{fName}} {{lName}} </font></p><br>
	<p id="username"><font size = "5px" color="white">@{{username}}</font></p><br>
	<br>
	<font size = "3px" color="white">{{bio}}</font><br><br>
	<button id="btncontact" class = "btncontact" onclick="display()">
		Items & Reviews
	</button>
	{{#if same}}
		<button id="btncontact" class = "btncontact" onclick="Sell_Item()">
			Sell an Item
		</button>
		<button id="btncontact" class = "btncontact" onclick="Edit_Profile()">
			Edit Profile
		</button>
	{{/if}}
</section>

<div id="Item_review" style="display: block">
	<section class="reviews">
		<div class="rightbox">
			<b><p class= "title"><font size = "15" color= "white">ON-SHELF</font></p></b>
		</div>
	</section>
	<section class="main-2">
		<div class="posts-2" style="height: 296px;">

			{{#each items}}
	  			<div class="card" align="left">
	  				<span class="close-delete">&times;</span>
					<image src="/{{photo}}" height="192px" width="192px"><br>
					<p class="item_description">{{this.iName}}</p>
					<p class="item_price">₱ {{this.price}}</p>
				</div>
	        {{/each}}

		</div>
	</section>
	<section class="reviews2">
		<div class="rightbox">
			<div class="box1">
				<br><b><p class= "title"><font size = "15" color= "white">REVIEWS</font></p></b>
				<form id="reviewUser">
					<textarea class="review_textbox box field" placeholder="Tell us something about this user..." id="reviewboxUser" name="reviewbox" rows="3" cols="30" maxlength="161" required></textarea><br>
					<button id="submit_buttonProfile" class = "enter_reviewUser enter_review">Submit</button>
				</form>
			</div>
			<ol class="reviewlist">

				{{#each reviews}}
		  			<div class='box2 animated jackInTheBox'>
		  				<div class='review_header'>
		  					<image src="/{{dpreviewer}}"> 
		  					<a href="/user/{{this.reviewer}}"><div class='review_name'>{{reviewer}}</div></a>
		  				</div>
		  				<div id="reviewdiv">{{review}}</div>
		  				<div class='edit_delete_reply'>
		  					<button id='submit_button' class='delete'>Delete</button>
		  				</div>
		  			</div>
		        {{/each}}

			</ol>
		</div>
	</section>
</div>

<div id="sell_item" style="display: none">
	<section class="sell">
		<b><p class= "title"><font size = "15" color= "white">SELL AN ITEM</font></p></b>
		
		<form align="center" id="postitem" method="post" enctype="multipart/form-data" action="/sellItem">
			<div class="avatar-upload">
				<div class="avatar-edit">
					<input type='file' id="photoUpload" name="iphoto" accept=".png, .jpg, .jpeg" onchange="readURL2(this)"/>
					<label for="photoUpload"></label>
				</div>
				<div class="avatar-preview2">
					<div class="imagePreview2">
					</div>
				</div>
			</div>
			<br>
			<div class="item_form">
				<font color="black">
				<p>Item name:<input type="text" class="field" id="Item_name" name="Item_name" required></p>
				<p id="Item_nameError" class="error">{{Item_nameError}}</p><br>

				<p>Description:<input type="text" class="field" id="Description" name="Description" required></p>
				<p id="DescriptionError" class="error">{{DescriptionError}}</p><br>

				<p>Price:<input type="number" class="field" id="Price" name="Price" required></p>
				<p id="PriceError" class="error">{{PriceError}}</p><br>

				<p>Quantity:<input type="number" class="field" id="Quantity" name="Quantity" required></p>
				<p id="QuantityError" class="error">{{QuantityError}}</p><br>

				<p>Meet up location:<input type="text" class="field" id="Location" name="Location" required></p>
				<p id="LocationError" class="error">{{LocationError}}</p><br>

				<p>Contact Information:<input type="number" class="field" id="Contact" name="Contact" required></p>
				<p id="ContactError" class="error">{{ContactError}}</p><br>

				<p>Mode of payment:<input type="text" class="field" id="Payment" name="Payment" required></p>
				<p id="PaymentError" class="error">{{PaymentError}}</p>

				</font>
				<input type="submit" id="submit_button" class ="enter_sell center" value="Submit">
			</div>
		</form>
	</section>
</div>

<div id="edit_profile" style="display: none">
	<section class="sell">
		<b><p class="title"><font size = "15" color= "white">EDIT PROFILE</font></p></b>
		
		<form align="center" id="edit" method="post" enctype="multipart/form-data" action="/editProfile">
			<div class="avatar-upload">
				<div class="avatar-edit">
					<input type='file' id="imageUpload2" name ="photo2" accept=".png, .jpg, .jpeg" onchange="readURL3(this)"/>
					<label for="imageUpload2"></label>
				</div>
				<div class="avatar-preview2">
					<div class="imagePreview3" style="background-image: url(img/dpic.jpg);">
					</div>
				</div>
			</div>
			<br>
			<div class="profile_form">
				<font color="black">
				<p>First name:<input type="text" class="field" id="fName2" name="fName2"></p>
				<p id="fName2Error" class="error">{{fName2Error}}</p><br>

				<p>Last name:<input type="text" class="field" id="lName2" name="lName2"></p>
				<p id="lName2Error" class="error">{{lName2Error}}</p><br>

				<p>Username:<input type="text" class="field" id="usernameR2" name="usernameR2"></p>
				<p id="username2Error" class="error">{{username2Error}}</p><br>

				<p>Bio:<input type="text" class="field" id="bio2" name="bio2"></p>
				<p id="bio2Error" class="error">{{bio2Error}}</p><br>

				<p>Password:<input type="password" class="field" id="pwR2" name="pwR2"></p>
				<p id="pw2Error" class="error">{{pw2Error}}</p><br>
				</font>
				<button id="update" value="Update" class = "edit_profile center">Submit</button>
			</div>
		</form>

	</section>
</div>

<script type="text/javascript">
	$('.box1').on('click', '#submit_buttonProfile', function() {

		if ({{flag}}) {
			var review = $('#reviewboxUser').val();
			console.log(review);

			var seller = $(this).parent('form').parent('div').parent('div').parent('section').parent('div').siblings('.profile').children('#username').text();
			console.log(seller);

			var sellername = seller.substring(1);

			if (review != '') {
				$.post('/review', 
				{
					seller: sellername,
					review: review
				});
			}
			else
				alert("Can't submit an empty text");
		}
		else
			alert('Log in to be able to submit a review about this user.');
	});
</script>